<div id="bar">
	{{#if tag}}
	<h2 onload="loaded()" id="fixpls" class="tagTitle">{{tag}} posts</h2>
	{{else}}
	<h2 class="tagTitle">Filter for your favorite (or least favorite) professors</h2>
	{{/if}}
	<input type="text" placeholder="Search" id="searchbar">
</div>

<div id="postBtn">
	<button type="submit" onClick="window.location.pathname='/form'">Add a professor</button>
</div>
<br>
<div id="postBtn">
	<button type="submit" id="nuke">Nuke the grades!</button>
</div>
<br>
<div class="twoCols">
	{{#each data}}
	<a href="/professor/{{this.name}}">
		<article>
			<h2 class="title">{{this.name}}</h2>
			<hr>
			<div class="content">
				Class: {{this.classes}} <br>
				Strength: {{this.strength}}<br>
				Weakness: {{this.weakness}}<br>
				Description: {{this.description}}
			</div>
		</article>
	</a>
	{{else}}
	<article id="noDisplay">
		<h1>There are no professors yet :(</h1>
		<h4>Try adding professors!</h4>
	</article>
	{{/each}}
</div>
<article id="noDisplay" style="display:none;">
	<h1>There are no professors yet :(</h1>
	<h4>Try adding professors!</h4>
</article>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
<script type="text/javascript">
	$("#searchbar").on("keyup", function () {
		var elements = document.getElementsByClassName("twoCols")[0].getElementsByTagName("a");
		var noElements = true;
		for (entry of elements) {
			if (!entry.innerText.toLowerCase().includes($("#searchbar").val().toLowerCase()))
				entry.style.display = "none";
			else { //if something matches search and it is displayed
				entry.style.display = "block";
				noElements = false;
			}
		}
		if (noElements == true) {
			document.getElementById("noDisplay").style.display = "block";
			console.log("displaying thingy")
		}
		else {
			document.getElementById("noDisplay").style.display = "none";
			console.log("Stop displaying thingy");
		}
	});

	$(document).ready(function () {
		var it = $("#fixpls").text();

		if (it.charAt(0) == "i") {
			$("#fixpls").prepend("Intel ");
		}
		else if (it.charAt(0) == 5 || it.charAt(0) == 7 || it.charAt(0) == 9) {
			$("#fixpls").prepend("Ryzen ");
		}
	});

	$("#nuke").click(function () {
		$.ajax({
			type: "DELETE",
			url: 'http://localhost:3000/api/nuke',
			sucess: function (data, status) {
				console.log(data);
			}
		});
		alert("You nuked the grades 💀");
	});
</script>