<div class="content content-postContent">
    <h1 class="subheader">Professor {{professor.name}}</h1>
    <div id="statsDisplay" value={{professor.name}} style="padding: 0 .5em">
        Strength: {{professor.strength}}<br>
        Weakness: {{professor.weakness}}<br>
        Classes: {{#each classes}}
        <a href="/class/{{this}}"> {{this}}</a>
        {{/each}}
        <br>
        Description: {{professor.description}}
    </div>
</div>
<br>
<div class="content content-postContent">
    <h2>Reviews:</h2>
    <div id="voltsDisplay" style="padding: 0 .5em">
        {{#each reviews}}
        <article>
            <h2 class="title">Author: {{this.author}}</h2>
            <hr>
            <div class="content">
                Rating: {{this.rating}}
                <p>
                    {{this.comment}}
                </p>
                {{this.weakness}}

            </div>
        </article>
        </a>
        {{else}}
        <article id="noDisplay">
            <h1>There are no reviews yet :(</h1>
            <h4>Try adding a grade!</h4>
        </article>
        {{/each}}
    </div>
</div>
<button type="submit" class="mini-button" onClick="return fire()">
    Fire this Prof Prof!
</button>
<script type="text/javascript">
    function fire() {
        var professor = "{{professor.name}}";
        console.log("fire form =  ", professor);
        $.ajax({
            type: "DELETE",
            url: `http://localhost:3000/api/fire/${professor}`,
            sucess: function (data, status) {
                console.log(data);
            }
        });
        alert("You feel good about this!");
        location.href = 'http://localhost:3000/';
    };
</script>