<div class="content content-postContent">
    <h1 class="subheader">Professor {{professor.name}}</h1>
    <div id="statsDisplay" style="padding: 0 .5em">
        Strength: {{professor.strength}}<br>
        Weakness: {{professor.weakness}}<br>
        Classes: {{#each classes}}
        <a href="/class/{{this}}"> {{this}}</a>
        {{/each}}
        <br>
        Description: {{professor.description}}
    </div>
</div>
<br>
<div class="content content-postContent">
    <h2>Reviews:</h2>
    <div id="voltsDisplay" style="padding: 0 .5em">
        {{#each reviews}}
        <article>
            <h2 class="title">Author: {{this.author}}</h2>
            <hr>
            <div class="content">
                Rating: {{this.rating}}
                <p>
                    {{this.comment}}
                </p>
                {{this.weakness}}

            </div>
        </article>
        </a>
        {{else}}
        <article id="noDisplay">
            <h1>There are no reviews yet :(</h1>
            <h4>Try adding a grade!</h4>
        </article>
        {{/each}}
    </div>
    <script>
        function realspeed(multiplier, bclk) {
            $("#statsDisplay").append(`Effective Clockspeed: ${multiplier * bclk}`);
        }
    </script>