<h1 class="subheader">Professor {{professor.name}}</h1>
<div class="content" id="postContent" style="margin-bottom:4em;">
    <!--- Displays the professor name -->
    <div id="statsDisplay" style="padding: 0 .5em">
        Weakness: {{professor.weakness}}<br>
        Strength: {{professor.strength}} MHz<br>
        Classes:
        {{#each classes}}
        <a href="/class/{{this}}"> {{this}}</a>
        {{/each}}
    </div>
    <hr>

    <h2>Reviews:</h2>
    <div id="voltsDisplay" style="padding: 0 .5em">
        {{#each reviews}}
        <article>
            <h2 class="title">Author: {{this.author}}</h2>
            <hr>
            <div class="content">
                Rating: {{this.rating}}
                <p>
                    {{this.comment}}
                </p>
                {{this.weakness}}

            </div>
        </article>
        </a>
        {{else}}
        <article id="noDisplay">
            <h1>There are no reviews yet :(</h1>
            <h4>Try adding a grade!</h4>
        </article>
        {{/each}}
    </div>
    <hr>
    <!--
    <h2>Benchmarks and Price</h2>
    <div id="voltsDisplay" style="padding: 0 .5em">
        Cinebench R15: {{#if blog_post.r15}}{{blog_post.r15}}{{else}}--{{/if}}<br>
        7Zip File Compression: {{#if blog_post.7zip}}{{blog_post.7zip}} Mb/s{{else}}-- Mb/s{{/if}}<br>
        Price: {{#if blog_post.price}}${{blog_post.price}}{{else}}--{{/if}}<br>
    </div>
    <div style="font-size:1.2em;">{{{blog_post.content}}}</div>
</div>
-->
    <script>
        function realspeed(multiplier, bclk) {
            $("#statsDisplay").append(`Effective Clockspeed: ${multiplier * bclk}`);
        }
    </script>